# GitHub token with read-only access to biolab-labsync-license repo
# Used by LicenseService to validate activation keys
# Build with: flutter build windows --dart-define=LICENSE_GITHUB_TOKEN=tu_token_aqui
LICENSE_GITHUB_TOKEN=tu_token_aqui
