# NOTA: El repo de licencias ahora es PUBLICO.
# No se necesita token. La app lee directamente desde:
# https://raw.githubusercontent.com/ISTURIZrp89/biolab-labsync-license/master/
# Solo contiene SHA256 hashes de las claves (irreversibles) y datos de version.
