[Unit]
Description=BioLab LABSYNC Update Checker
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=%i
ExecStart=/bin/bash /opt/biolab-labsync/installers/linux/update_checker.sh http://localhost:8000
Restart=always
RestartSec=60
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
